<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tags -->
    <title>DRO | {{ PAGE TITLE }}</title>
    <!-- CSS imports -->
  </head>
  <body>
    <canvas width="100vw" height="100vh" id="background">Uh oh, there's supposed to be a beautiful harmonograph here. Can you find it?</canvas>
    <div class="wrapper">
      <h1 id="title">DRO</h1>
      <ul id="nav">
        <li class="nav-item"><a href="/art">Art</a></li>
        <li class="nav-item"><a href="/bio">About</a></li>
        <li class="nav-item"><a href="/blog">Blog</a></li>
        <li class="nav-item"><a href="/chat">Chat</a></li>
        <li class="nav-item"><a href="/work">Work</a></li>
      </ul>